html {
  font-family: SF Pro Text, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  background-color: #F9F9F9;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: #fff;
  padding: 30px 15px;
  font-size: 14px;
  color: #747474;
  border-radius: 4px;

  &__title {
    font-size: 24px;
    color: #000;
  }

  &__button {
    height: 40px;
    background-color: #3A3D4B;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__label {
    align-self: flex-start;
    font-size: 14px;
    line-height: 22px;
  }

  &__input {
    border: 2px solid #EFF0F4;
    padding: 7px 5px;
    outline: none;
    color: #90949B;
    border-radius: 4px;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }

    &_error {
      border-color: red;
      border-width: 1px;
    }
  }

}

.passwordContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  &__field {
    padding-right: 30px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

.error-message {
  font-size: 10px;
  align-self: flex-start;
  text-align: start;
  color: red;
}

.checkBoxContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.loginCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.loginCheckbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.loginCheckbox:checked+label::before {
  background-color: #3A3D4B;
  border-color: #3A3D4B;
  color: #fff;
  background-image: url('../images/checkIcon.svg');
  background-size: cover;
  background-position: center center;
}

.loginCheckbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.buttonGroup {
  &__button {
    display: block;
    padding: 5px 10px;
    border: 1px solid #3A3D4B;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
  }
}

.profile-type {
  display: flex;
  gap: 10px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__radio {
    margin: 0 5px 0 0;
  }
}

.homePage {
  font-size: 25px;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__button {
    font-size: 20px;
    height: max-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
  }
}